#header {
    height: 100px;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.07);
}
.left {
    margin-top: 1em;
    width: 15%;
}
.left img {
    width: 170px;
    height: 65px;
}
.header-bar {
    width : 80%;
    display: flex;
    margin:auto;
}
.menu {
   width:80%;
   line-height: 6em;

}
.menu ul li {
    width: 120px;
    text-align: center;
    list-style: none;
    font-size: 14px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.active, .menu ul li:hover {
    color: #44cdc7;
    border:1px solid #44cdc7;
    border-radius: 35px;
   

}
.menu ul {
    display: inline-flex;
    line-height: 2em;

}
.menu ul li:hover .catalogues {
    display: block;
    position:absolute;
   

}
.menu ul li:hover .catalogues ul {
    display: block;
}
.menu ul li:hover .catalogues ul li {
    border-bottom: 1px solid #ccc;
    line-height: 3em;
    text-align: left;
    padding-left: 1em;
    background: transparent;
    border-radius: 0;
    color:black;

}
.catalogues ul {
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 155px;
    display: none;
    padding:0;
}


.right {
    width: 15%;
    display: flex;
    
}

.account {
    margin-top: 35px;
    padding-right:25px;
    
}
.cart {
    margin-top:35px;
    padding-right:25px;
    position: relative;
}
.cart span {
    position: absolute;
    background-color: #44cdc7;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    right :16px;
    color: white;
}
.search-bar {
   margin-top: 38px;
}
.search-bar img {
    filter: invert(1);
}